.cell {
  width: 55px;
  height: 55px;
  border: 2px solid #444;
  border-radius: 8px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2e2e3e;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  &.apple {
    background: #228b22;
  }

  &.rotten {
    background: #8b0000;
  }
}
